@{
    Layout = "~/Views/Shared/_dashboardlayout.cshtml";
}



<!-- /.row -->

<form class="form-horizontal">
    <fieldset>
        <!-- Form Name -->
      <!--  <legend>diagnosis</legend> -->
        <!-- Textarea -->
        <div id="Diagnosis" class="tabcontent">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Diagnosis</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="textarea">Description</label>
                <div class="col-md-4">
                    <textarea class="form-control" id="textarea" name="textarea" placeholder="Description of disease diagnosed"></textarea>
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Temp">Temperature</label>
                <div class="col-md-4">
                    <input id="Temp" name="Temp" type="text" placeholder="99" class="form-control input-md">
                    <span class="help-block"></span>
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="BP">Blood Pressure</label>
                <div class="col-md-4">
                    <input id="BP" name="BP" type="text" placeholder="120/80" class="form-control input-md">

                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="HB">HeartBeat</label>
                <div class="col-md-4">
                    <input id="HB" name="HB" type="text" placeholder="Heartbeat" class="form-control input-md">

                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Sugar Level">Sugar Level</label>
                <div class="col-md-4">
                    <input id="Sugar Level" name="Sugar Level" type="text" placeholder="Sugar Level" class="form-control input-md">

                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Height">Height</label>
                <div class="col-md-2">
                    <input id="Height" name="Height" type="text" placeholder="Height" class="form-control input-md">

                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Weight">Weight</label>
                <div class="col-md-2">
                    <input id="Weight" name="Weight" type="text" placeholder="Weight" class="form-control input-md">

                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="DieaseName">Disease Name</label>
                <div class="col-md-4">
                    <input id="DieaseName" name="DieaseName" type="text" placeholder="Flu/Malaria/etc." class="form-control input-md">

                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="DiseaseType">Disease Type</label>
                <div class="col-md-4">
                    <input id="DiseaseType" name="DiseaseType" type="text" placeholder="Disease Type" class="form-control input-md">

                </div>
            </div>
        </div>
        <div id="Test" class="tabcontent">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Test</h1>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="TestName">Test Name</label>
                <div class="col-md-4">
                    <input id="TestName" name="TestName" type="text" placeholder="Blood Test" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="LabName">Lab Name</label>
                <div class="col-md-4">
                    <input id="LabName" name="LabName" type="text" placeholder="The Lab" class="form-control input-md">

                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Description">Description</label>
                <div class="col-md-4">
                    <textarea class="form-control" id="Description" name="Description"></textarea>
                </div>
            </div>
        </div>
        <div id="Surgery" class="tabcontent">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Surgery</h1>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="SurgeryName">Surgery Name</label>
                <div class="col-md-4">
                    <input id="SurgeryName" name="SurgeryName" type="text" placeholder="Shoulder Surgery" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="SurgeryType">Surgery Type</label>
                <div class="col-md-4">
                    <input id="SurgeryType" name="SurgeryType" type="text" placeholder="Surgery Type" class="form-control input-md">

                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Surgery Description">Surgery Description</label>
                <div class="col-md-4">
                    <textarea class="form-control" id="Surgery Description" name="Surgery Description"></textarea>
                </div>
            </div>
        </div>
    </fieldset>
</form>
<div class="row">
    <div class="col-lg-12">
        <h2>Medical History</h2> 
    </div>
</div>
    
 <div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1">Visit Date: 25/03/2017</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">Diagnosis</div>
            <div class="panel-footer">Medication</div>
        </div>
    </div>
</div>





   